{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- Start Breadcrumbs Section -->
<section class="breadcrumbs-section background_bg" data-img-src="image/cart-breadcrumbs-img.jpg">
	<div class="container">
    	<div class="row justify-content-center">
        	<div class="col-md-12">
                <div class="page_title text-center">

                    <ul class="breadcrumb justify-content-start">
                    	<li><a href="#">home</a></li>
                        <li><a href="#">shop</a></li>
                        <li><span>cart</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Header Section -->

<!-- Start Cart Section -->
<section class="cart-section pt_large">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
            	<div class="cart-table table-responsive">
                	<table class="table table-bordered text-center">
                    	<thead>
                        	<tr class="row-1">
                                <th class="row-title"><p></p></th>
                            	<th class="row-title"><p>Item</p></th>
                                <th class="row-title"><p>Product Name</p></th>
                                <th class="row-title"><p>Price</p></th>
                                <th class="row-title"><p>Quantity</p></th>
                                <th class="row-title"><p>Subtotal</p></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}

                                <tr class="row-2">
                                {% with product=item.product %}
                                    <td class="row-close close-2" data-title="product-remove"><span class="product-remove" data-product="{{ product.id }}"><i class="ion-close-circled"></i></span></td>
                                    <td class="row-close close-1" data-title="product-remove"><a href="#"><i class="ion-close-circled"></i></a></td>
                                    <td class="row-img"><img src="{{ product.img.url }}" height="50px" alt="cart-img"></td>
                                    <td class="product-name" data-title="Product"><a href="{% url 'store:product-detail' product.slug %}">{{ product.name }}</a></td>
                                    <td class="product-price" data-title="Price"><p>$ {{ product.price }}</p></td>
                                {% endwith %}


                                    <td class="product-quantity" data-title="Quantity">
                                        <form data-product="{{ item.product.id }}" data-action="update" class="update-cart">
                                            <div class="quantity_filter">
                                                <input type="submit" value="-" class="minus">
                                                <input class="quantity-number qty product-count" type="number" value="{{ item.quantity }}" min="1">
                                                <input type="submit" value="+" class="plus">
                                            </div>
                                        </form>
                                    </td>

                                    <td id="item-price{{ item.product.id }}"  class="product-total" data-title="Subprice"><p>$ {{ item.total_price }}</p></td>

                                </tr>
                        {% endfor %}



                        </tbody>
{#
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Cart Section -->


<!-- Start Cart Box Section -->
<section class="cart-box-section pb_large">
	<div class="container">
    	<div class="row justify-content-between">
        	<div class="col-lg-4 col-md-6">
            	<div class="cart-inner-box box-1 text-center">
                	<div class="ci-title">
                    	<h6>Promotional code</h6>
                    </div>
                    <div class="ci-caption">
                    	<p>Enter Your Coupon Code If you have one</p>
                        <form method="post" action="{% url 'discount:apply' %}">{% csrf_token %}
{#                        	<input required="" class="form-control" type="text" placeholder="Coupon Code">#}
                            {{ coupon_form.code }}
                            <button class="btn btn-secondary" type="submit">Apply Coupon Code</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
            	<div class="cart-inner-box box-2 text-center">
                	<div class="ci-title">
                    	<h6>Cart Total</h6>
                    </div>
                    <div class="ci-caption">
                        <ul>
                        	<li>Subtotal <span id="total-price">$ {{ cart.get_total_price }}</span></li>
                            {% if cart.coupon %}
                               <li class="text-black-50">Coupon/Discount<span class="txt-primary">{{ cart.coupon }}</span></li>
                              <li>Total <span>{{ cart.get_total_price_after_discount }}</span></li>
                            {% endif %}

                            <li>Total count <span id="cart-qunatity2">{{ cart.get_total_count }}</span></li>


                        </ul>
                    </div>
                    <div class="ci-btn">
                        <a href="{% url 'store:checkout' %}" class="btn btn-primary btn-block rounded-0">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Cart Box Section -->

{% endblock content %}

{{ cart.is_guest}}

