{% load static %}
<section class="instagram-section p-0 mx-0 mb-0">
	<div class="container-fluid">
        <div class="row">
        	<div class="col-md-12 p-0">
                <div class="insta-slider owl-carousel owl-theme popup-gallery">
                    <div class="insta-img">
                        <img src="{% static 'images/img.png' %}" alt="insta-img"><a href="{% static 'images/img.png' %}"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-2.jpg" alt="insta-img"><a href="image/instabig-img-2.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-3.jpg" alt="insta-img"><a href="image/instabig-img-3.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-4.jpg" alt="insta-img"><a href="image/instabig-img-4.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-5.jpg" alt="insta-img"><a href="image/instabig-img-5.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-6.jpg" alt="insta-img"><a href="image/instabig-img-6.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-7.jpg" alt="insta-img"><a href="image/instabig-img-7.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-8.jpg" alt="insta-img"><a href="image/instabig-img-8.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-9.jpg" alt="insta-img"><a href="image/instabig-img-9.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-10.jpg" alt="insta-img"><a href="image/instabig-img-10.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-11.jpg" alt="insta-img"><a href="image/instabig-img-11.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-12.jpg" alt="insta-img"><a href="image/instabig-img-12.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-12 p-0">
            	<div class="insta-slider-2 owl-carousel owl-theme popup-gallery">
                	<div class="insta-img">
                        <img src="image/insta-img-1.jpg" alt="insta-img"><a href="image/instabig-img-1.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-2.jpg" alt="insta-img"><a href="image/instabig-img-2.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-3.jpg" alt="insta-img"><a href="image/instabig-img-3.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-4.jpg" alt="insta-img"><a href="image/instabig-img-4.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-5.jpg" alt="insta-img"><a href="image/instabig-img-5.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-6.jpg" alt="insta-img"><a href="image/instabig-img-6.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-7.jpg" alt="insta-img"><a href="image/instabig-img-7.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-8.jpg" alt="insta-img"><a href="image/instabig-img-8.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-9.jpg" alt="insta-img"><a href="image/instabig-img-9.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-10.jpg" alt="insta-img"><a href="image/instabig-img-10.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-11.jpg" alt="insta-img"><a href="image/instabig-img-11.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="insta-img">
                        <img src="image/insta-img-12.jpg" alt="insta-img"><a href="image/instabig-img-12.jpg"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="follow-box">#}
{#        	<i class="fa fa-instagram"></i>#}
{#            <h3>instagram</h3>#}
{#            <span>@atzshop</span>#}
{#            <a href="#" class="btn btn-primary">Follow</a>#}
{#        </div>#}
    </div>
</section>