{% load static %}

<section class="testimonial-section section-shadow bg-white">
    <div class="container-fluid">
    	<div class="row">
        	<div class="col-md-12">
            	<div class="testimonial_slider nav-style-2 owl-carousel owl-theme" data-margin="30" data-dots="true" data-autoplay="false" data-nav="false" data-loop="true">
                	<div class="item">
                    	<div class="fancy-box">
                        	<div class="fancy-img">
                            	<img src="{% static 'image/testimonial-img-1.jpg' %}" alt="testimonial-img">
                            </div>
                            <div class="fancy-wrap">
                            	<h5 class="testimonial-title"><a href="#">Williamson</a>
                                	<small class="post">Web Developer</small>
                            	</h5>
                            	<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="fancy-box">
                        	<div class="fancy-img">
                            	<img src="{% static 'image/testimonial-img-2.jpg' %}" alt="testimonial-img">
                            </div>
                            <div class="fancy-wrap">
                            	<h5 class="testimonial-title"><a href="#">Williamson</a>
                                	<small class="post">Web Developer</small>
                            	</h5>
                            	<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="fancy-box">
                        	<div class="fancy-img">
                            	<img src="{% static 'image/testimonial-img-3.jpg' %}" alt="testimonial-img">
                            </div>
                            <div class="fancy-wrap">
                            	<h5 class="testimonial-title"><a href="#">Williamson</a>
                                	<small class="post">Web Developer</small>
                            	</h5>
                            	<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                    	<div class="fancy-box">
                        	<div class="fancy-img">
                            	<img src="{% static 'image/testimonial-img-1.jpg' %}" alt="testimonial-img">
                            </div>
                            <div class="fancy-wrap">
                            	<h5 class="testimonial-title"><a href="#">Williamson</a>
                                	<small class="post">Web Developer</small>
                            	</h5>
                            	<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="fancy-box">
                        	<div class="fancy-img">
                            	<img src="{% static 'image/testimonial-img-2.jpg' %}" alt="testimonial-img">
                            </div>
                            <div class="fancy-wrap">
                            	<h5 class="testimonial-title"><a href="#">Williamson</a>
                                	<small class="post">Web Developer</small>
                            	</h5>
                            	<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="fancy-box">
                        	<div class="fancy-img">
                            	<img src="{% static 'image/testimonial-img-3.jpg' %}" alt="testimonial-img">
                            </div>
                            <div class="fancy-wrap">
                            	<h5 class="testimonial-title"><a href="#">Williamson</a>
                                	<small class="post">Web Developer</small>
                            	</h5>
                            	<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>